* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: black;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;



}

p {
color: pink;

}

h2 {
    color: blueviolet;
}